<?xml version="1.0"?>
<launch>
	
   <node pkg="armor" type="execute" name="armor_service" args="it.emarolab.armor.ARMORMainService"/>
   
   <node name="smach_viewer" pkg="smach_viewer" type ="smach_viewer.py" /> <!-- OPTIONAL -->
   
   <node name="turtlesim" pkg="turtlesim" type ="turtlesim_node"/>
   
   <node name="turtle_controller" pkg="exproblab_ass1" type ="turtle_controller.py"/>
	
   <node name="update_ontology" pkg="exproblab_ass1" type ="update_ontology.py" />
   
   <node name="oracle"  pkg="exproblab_ass1" type="oracle.py" output="screen" />
   
   <node name="FSM" pkg="exproblab_ass1" type="FSM.py" output="screen"/>   
   
  <!-- THIS IS A COMMENT -->
   

</launch>
